@import 'ext/solarized-light';

div.highlighter-rouge {
	margin: 40px 0;
}

.highlight {
	background-color: #f4f4f4;
	border-radius: 6px;
}

div.highlight {
	padding: 1em 2em 1em 2.5em;  /* left padding for 4-space indent */
}

pre.highlight, code {
	font-family: 'Consolas', Menlo, monospace;
	line-height: 1.4em;
	tab-size: 4;
	background-color: #f4f4f4;
}
